apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: $NS
  annotations:
    kubernetes.io/ingress.class: 'nginx'
    ingress.kubernetes.io/add-base-url: 'true'
    ingress.kubernetes.io/rewrite-target: /
    ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - http:
      paths:
      - path: /fontpage/
        backend:
          serviceName: frontpage
          servicePort: 80