apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: $NS
  annotations:
    kubernetes.io/ingress.class: 'traefik'
    ingress.kubernetes.io/add-base-url: 'true'
    ingress.kubernetes.io/rewrite-target: /
    ingress.kubernetes.io/ssl-redirect: "false"
    traefik.frontend.rule.type: PathPrefixStrip
spec:
  rules:
  - http:
      paths:
      - path: /hr/
        backend:
          serviceName: frontpage
          servicePort: 80
